
<section class="card mb-3">
    <div class="card-header">
        <h6 class="card-title mb-0">
            <i class="fas fa-users text-secondary"></i>
            Redes Sociais
        </h6>
    </div>

    <div class="card-body">
        <div class="social">
            <div class="d-flex flex-column justify-content-center fw-bold">
                <span class="mb-2">
                    <a href="https://mastodon.social" title="Perfil no Mastodon" target="_blank" class="">
                        <i class="fa-brands fa-mastodon mastodon me-1"></i> Mastodon
                    </a>
                </span>

                <span class="mb-2">
                    <a href="https://twitter.com" title="Perfil no Twitter" target="_blank" class="">
                        <i class="fa-brands fa-twitter twitter me-1"></i> Twitter
                    </a>
                </span>

                <span class="mb-2">
                    <a href="https://github.com" title="Perfil no GitHub" target="_blank" class="">
                        <i class="fa-brands fa-github github me-1"></i> GitHub
                    </a>
                </span>

                <span class="mb-2">
                    <a href="https://www.linkedin.com" title="Perfil no LinkedIn"
                       target="_blank" class="">
                        <i class="fa-brands fa-linkedin linkedin me-1"></i> LinkedIn
                    </a>
                </span>

                <span class="mb-2">
                    <a href="https://www.instagram.com" title="Perfil no Instagram" target="_blank" class="">
                        <i class="fa-brands fa-instagram instagram me-1"></i> Instagram
                    </a>
                </span>

                <span class="mb-2">
                    <a href="https://www.facebook.com" title="Perfil no Facebook" target="_blank" class="">
                        <i class="fa-brands fa-facebook facebook me-1"></i> Facebook
                    </a>
                </span>

                <span class="">
                    <a href="https://www.youtube.com" title="Perfil no YouTube" target="_blank" class="">
                        <i class="fa-brands fa-youtube youtube me-1"></i> YouTube
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>

<section class="card mb-3">
    <div class="card-header">
        <h6 class="card-title mb-0">
            <i class="fa-sharp fa-solid fa-file text-secondary"></i>
            Últimos Posts
        </h6>
    </div>

    <div class="card-body pb-0 text-secondary">
        <div th:each="post : ${lastPosts}" class="mb-2">
            <h6 class="mb-0">
                » <a th:href="@{|/post/${post.postname}|}" th:text="${post.title}"></a>
            </h6>

            <small>
                [[${post.createdAtFormatted}]] por
                <a th:href="@{|/user/${post.user.username}|}" class="link-secondary fw-bold">[[${post.user.name}]]</a>
            </small>
        </div>

        <div class="mt-3"></div>
    </div>
</section>

<section class="card mb-3">
    <div class="card-header">
        <h6 class="card-title mb-0">
            <i class="fas fa-link text-secondary"></i>
            Links Recomendados
        </h6>
    </div>

    <div class="card-body text-secondary">
        » <a href="https://fabiopichler.net" target="_blank">Fábio Pichler</a>
        <br>
        » <a href="https://openjdk.org" target="_blank">OpenJDK</a>
        <br>
        » <a href="https://spring.io" target="_blank">Spring Boot</a>
        <br>
        » <a href="https://start.spring.io" target="_blank">Spring Initializr</a>
        <br>
        » <a href="https://www.thymeleaf.org" target="_blank">Thymeleaf</a>
    </div>
</section>

