<!DOCTYPE html>
<html th:replace="~{fragments/app :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<title>Erro 500 - Internal Server Error</title>

<th:block th:fragment="main">
    <div class="card mb-3">
        <div class="card-body">
            <h2>Erro 500</h2>

            <p class="mb-1">Erro interno no servidor</p>

            <p class="mb-0">
                <a th:href="@{/}">Voltar para o início</a>
            </p>
        </div>
    </div>
</th:block>
</html>
