<!DOCTYPE html>
<html th:replace="~{fragments/app :: layout(title=~{::title}, content=~{::main}, oneColumn=true)}"
      xmlns:th="http://www.thymeleaf.org">

<title>Login</title>

<div th:fragment="main" class="h-100 d-flex justify-content-center align-items-center">
    <form th:action="@{/login}" method="POST" class="login-form card mb-3 w-100">
        <div class="card-header">
            <h5 class="mb-0"><i class="fa-solid fa-right-to-bracket text-secondary"></i> Login</h5>
        </div>

        <div class="card-body">
            <div th:if="${logout}" class="alert alert-success d-flex align-items-center" role="alert">
                <i class="fa-solid fa-circle-info"></i>

                <div class="ms-2">
                    Você desconectou com sucesso
                </div>
            </div>

            <div th:if="${loginError}" class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="fa-solid fa-triangle-exclamation"></i>

                <div class="ms-2">
                    Usuário ou senha incorretos
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>

                <label for="username">Nome de usuário ou E-mail</label>
            </div>

            <div class="form-floating">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

                <label for="password">Senha do usuário</label>
            </div>
        </div>

        <div class="card-footer">
            <div class="d-flex flex-colunm align-items-center justify-content-between">
                <div class="form-check">
                    <input type="checkbox" name="remember-me" id="remember-me" class="form-check-input" />

                    <label class="form-check-label" for="remember-me">
                        Lembrar-me
                    </label>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </div>
        </div>
    </form>
</div>
</html>
