<!DOCTYPE html>
<html th:replace="~{fragments/app :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<title>Resultado da pesquisa - My Site</title>

<th:block th:fragment="main">
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="mb-0">
                <i class="fa-solid fa-magnifying-glass fa-sm text-secondary"></i>
                Resultado da pesquisa
            </h4>
        </div>

        <div class="card-body">
            <div>Termo da pesquisa: <span th:text="${search_q}" class="fw-bold"></span></div>

            <div>Resultados encontrados: <span th:text="${totalItems}" class="fw-bold"></span></div>
        </div>
    </div>

    <th:block th:insert="~{fragments/list-posts}"></th:block>
</th:block>

</html>
