<!DOCTYPE html>
<html th:replace="~{fragments/app :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<title>Perfil de [[${user.name}]]</title>

<th:block th:fragment="main">
    <div class="user-profile card mb-3">
        <div class="card-body text-center">
            <img th:src="${user.avatar} ?: @{/img/user-profile.png}" class="user-avatar rounded-circle mb-3">

            <h3 th:text="${user.name}"></h3>
        </div>
    </div>

    <h4 class="mb-3 mx-3">Publicações de [[${user.name}]]</h4>

    <th:block th:insert="~{fragments/list-posts}"></th:block>
</th:block>
</html>
